.cont-input {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
    color: wheat;
    border-bottom: 1px solid #000;
}

.cont-input ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.cont-input li {
    width: 50px;
}

.cont-input img {
    width: 30px;
    height: 30px;
}

.main-input {
    width: 60%;
    height: 30px;
    border-radius: 4px;
}