.note
    padding: 5px
    display: block
    border-radius: 3px
    height: 60px
    transform: translateX(0px)
    margin-top: 5px
    background-color: #607d8b
    .container-content
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: center
        text-align: left
        .note-content
            width: 90%
            .note-text
                width: 90%
                border-style: none
                font-size: 20px
                border-width: 0px
                border: none
            .gro
                font-size: 12px
        .btn-del
            img
                width: 10px
                height: 10px

.bla-enter 
  transform: translateX(1500px)
  transition: transform 300ms
  

.bla-enter-active 


.bla-exit 

.bla-exit-active 


.bla-enter-done
    display: none
