.note
    background-color: #fff
    padding: 5px
    display: block
    border-radius: 3px
    height: 60px
    .container-content
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: center
        text-align: left
        .note-content
            width: 90%
            
            .note-text
                width: 90%
                border-style:none
                font-size: 20px
                border-width: 0px
                border:none
            .gro
                font-size: 12px
        .btn-del
            img
                width: 10px
                height: 10px



// .note
//     display: block
//     overflow: hidden
//     border: 1px solid #fff
//     border-radius: 3px
//     padding: 5px
//     textarea
//         list-style-type: none
//         margin-top: 10px
//         text-align: left
//         font-size: 14px
//         width: 100%
//         background-color: rgb(32, 33, 36)
//         border: none
//         color: white
//         resize: none
//         overflow: hidden
//         font-family: 'Open Sans', sans-serif
//         font-style: italic
//     .top-container textarea
//         padding: 5px
//     .content-container textarea
//         font-size: 14px
//     .bottom-container
//         margin-top: 2px
//         border-top: 1px solid #000
//         display: flex
//         padding: 5px
//         button
//             margin-top: 4px
//             img
//                 width: 20px
//                 height: 20px
//         .del
//             margin-left: 88%
// .note-expand
//     position: fixed
//     top: 50px
//     left: -5px
//     width: 98%
//     height: 51vh
//     background-color: #282c34
//     z-index: 10
//     padding: 20px
//     margin-bottom: 10px
