 .button-add {
     width: 50px;
     height: 60px;
     border-radius: 5px;
     border: 1px solid #fff;
     color: #fff;
     position: fixed;
     right: 165px;
     bottom: 0;
 }

 .button-add:hover {
     background-color: #fff;
     color: #000;
 }